In [13]:
import numpy as np
import pandas as pd

In [14]:
a=pd.Series([.24,25,6,4,5],index=['a','b','c','d','e'])

In [15]:
print(a)

a     0.24
b    25.00
c     6.00
d     4.00
e     5.00
dtype: float64

In [16]:
population={'california':23334,
           'texas':5634,
           'new york':7890,
           'florida':1234}

In [22]:
#pd.DataFrame(population)

In [23]:
#help(pd.Series.loc)

In [24]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Population': [11190846, 1303171035, 207847528]}

In [33]:
df=pd.DataFrame(data)#,columns=['Countery','Capital','Population'])

In [34]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [36]:
df['Capital']

0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

In [43]:
c=pd.DAtaFrame(np.random.rand(3,2),
             'Columns'=['rAM','ANF','snaf'],
               'index'=['A','b','c'])

SyntaxError: keyword can't be an expression (<ipython-input-43-481b3e7dbaa0>, line 2)

In [44]:
c

NameError: name 'c' is not defined

In [53]:
a=np.zeros(6,dtype=[('A','D'),('C','B')])

In [54]:
pd.DataFrame(a)

                    A  C
0  0.000000+0.000000j  0
1  0.000000+0.000000j  0
2  0.000000+0.000000j  0
3  0.000000+0.000000j  0
4  0.000000+0.000000j  0
5  0.000000+0.000000j  0

In [55]:
print(ind.size)

NameError: name 'ind' is not defined

In [62]:
#help(pd.Series.loc)

In [66]:
a=pd.Index([1,2,3,4,5])
b=pd.Index([4,5,6,7,8])

In [70]:
a^b

Int64Index([1, 2, 3, 6, 7, 8], dtype='int64')

In [83]:
data=pd.Series(['a','b','c','d','e'],index=[1,2,3,4,5])

In [84]:
data

1    a
2    b
3    c
4    d
5    e
dtype: object

In [97]:
data[:1:3]

1    a
dtype: object

In [98]:
data.iloc[0]

'a'

In [99]:
#hanling missing data value throgh the python
import numpy as np

In [100]:
import pandas as pd

In [104]:
value=np.array([1,None,3,4])

In [122]:
data=pd.Series([1,'hello',None])
data.isnull()

0    False
1    False
2     True
dtype: bool

In [123]:
data.notnull()

0     True
1     True
2    False
dtype: bool

In [130]:
data[2]=np.nan

In [131]:
data

0        1
1    hello
2      NaN
3      NaN
dtype: object

In [132]:
data.fillna(method='fill')

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got fill

In [134]:
pd.Multiindex.form_array(['a','b','c'],[1,2,3,4])

AttributeError: module 'pandas' has no attribute 'Multiindex'

In [135]:
from sqlalchemy import create_engine

In [136]:
 engine = create_engine('sqlite:///:memory:')

In [137]:
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina', 'Peter', 'Nicky'], 
      'B': ['Masters', 'Graduate', 'Graduate', 'Masters', 'Graduate'], 
      'C': [27, 23, 21, 23, 24]})

In [139]:
pd.pivot_table(df,index=['A','B'])

                 C
A     B
Boby  Graduate  23
John  Masters   27
Mina  Graduate  21
Nicky Graduate  24
Peter Masters   23